body {
  background-color: #232323;
}

#square {
  width: 30%;
  /*ancho el 30 porciento del contenedor container*/
  height: 0;
  /*un alto con valor 0, significa que no estamos haciendo referencia al alto del cuadrado (square)*/
  background-color: blueviolet;
  /*Color de fondo*/
  padding: 30%;
  /*da referencia entre el espacio "inferior" y su contenido*/
  float: left;
  /* colocación a la izquierda*/
  margin: 2%;
  /* da referencia el margen que separarán los cuadrados */
  cursor: pointer;
  /* tipo de cursor a elección*/
  border-radius: 10%;
  /* le damos la forma al objeto de tipo circular*/
  transition: background 0.5s;
  /* efecto al atributo background*/
  -webkit-transition: background 0.5s;
  /* efecto al atributo background*/
  -moz-transition: background 0.5s;
  /* efecto al atributo background*/
  border: white 5px solid;
}

button {
  border: none;
  background-color: inherit;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  color: white;
  background: steelblue
}

#container {
  margin: 0px auto;
  height: 570px;
  /*margin automatico*/
  max-width: 800px;
  /*ancho máximo*/
  display: block;
  text-align: center;
  /*centrar*/
  border: white 5px solid;
}

#container2 {
  background-color: white;
  height: 30px;
  text-align: center;
}

#primero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 180px;
}
#segundo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 180px;
}
#reset {
  cursor: pointer;
}

#easyBtn {
  cursor: pointer;
}

#hardBtn {
  cursor: pointer;
}

span {
  color: #FFFFFF;
}

h1 {
  color: #FFFFFF;
}

#h1 {
  font-size: 45px;
}

#message {
  color: #232323;
  font-size: 22px;
}
